body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
  }
  
  header {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    color: #ff6f00;
    font-size: 15px;

}
h3{
  text-align: center;
  margin-top: -30px;
}
  
  .logo {
    position: absolute;
    top: 5px;
    left: 10px;
    max-width: 75px;
  }
  
  nav {
    background-color: #ffd180;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-weight: 700;
    font-size: 1.2em;
  }
  
  section {
    padding: 20px;
  }
  
  h3 {
    color: #ff6f00;
    font-size: 35px;;
  }
  ol a{
    font-size: 18px;
  }

/* Estilos para la tabla de insumos */
.table {
    border-collapse: collapse;
    border-color: #ff6f00;
}

.table th {
    background-color: #ff6f00;
    color: white;
    font-size: 20px;
}

.table td {
    color: black;
    font-size: 20px;
}

/* Estilos para resaltar la fila al pasar el mouse */
.table-responsive tbody tr:hover {
    background-color: #dfaeae;
}

/*Estilo del boton retroceder*/

.img-atras {
    width: 60px;
    height: 45px;
    margin-right: 10px;
}


/* Estilos para el menú hamburguesa */
.menu-card-sec {
  background-color: #ff6f00; /* Color de fondo */
  border: none;
  margin-top: 5px;
  height: 68vh; /* Altura total */
  width: 0; /* Ocultar el menú inicialmente */
  position: fixed;
  transition: 0.5s; /* Transición suave */
  padding-top: 1px;
  right: 0;
  left: auto;
  z-index: 999; /* Asegúrate de que el menú tenga un z-index alto */

}

.menu-card-sec a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display:flex;
  transition: 0.3s;
}

/* Estilos para el botón de la hamburguesa */
.navbar-toggler-sec {
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 100;
  background-color: #ff6f00;
  max-width: 70px;
  height: 70px;
  margin-right: 20px;
  color: #ffffff;
  border: none;
}

.col-md-10{
  margin-top: 50px;
  width: 98%;

}

.col-md-4{
  padding-right: 20px;
}

.card{
  border-color: #ff6f00;
  border-radius: 15px;
  border-width: medium;
  margin-bottom: 50px;

}

.title-menu{
text-align: center;
color: #ff6f00;
}

.card-image{
  max-width: 99%;
  margin-left:-15px;
}

/* Define el estilo para las filas deshabilitadas */
.fila-deshabilitada {
  background-color: #f2f2f2; /* Cambia el color de fondo según tu preferencia */
}

/*ESTILO DEL FOOTER*/
footer {
    background-color: #ff6f00;
    padding: 10px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}