body {
    font-family: 'Arial', sans-serif;
    background: url('../img/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    color: #C2A24B;
    margin-bottom: 20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.login-header h4 {
    margin: 0;
    font-size: 24px;
    color: #444;
}

.input-group {
    margin: 15px 0;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: #C2A24B;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #A88A3D;
}

.login-footer {
    margin-top: 10px;
    font-size: 14px;
}

.login-footer a {
    color: #C2A24B;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}
